{% extends 'task/base.html' %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-center text-center">
    <div class="col-md-8 mt-5">
      <h1>Login</h1>
      <p>{{ error }}</p>
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Login" class="btn btn-primary" />
      </form>

      <div class="text-center mt-3">
        <p>Don't have an account? <a href="{% url 'signupuser' %}">Sign Up</a></p>
        <p><a href="{% url 'home' %}">Home Page</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
