.navbar .navbar-brand {
    color: white !important;
}

.navbar .nav-link {
    color: white !important;
}

body {
  font-family: 'Lato', sans-serif;
}

.task-link {
    color: inherit;
    text-decoration: none;
}

.task-link:hover {
    text-decoration: underline;
    color: #007bff;
}

.important-task {
    background-color: #f8d7da; /* red background color */
  }